.sidebar{
    width: 20%;
    background-color: rgb(40, 39, 39);
    height: 100vh;
}
.main-container-dashboard{
    display: flex;
    margin: 0;
}
.title{
    color: white;
    font-size: 32px;
}
.container{
    background-color: #EEFAFA;
    margin: 0;
    min-width: 80%;
    padding: 0px;
    
}